
      <section id="faq" class="faq section-bg">
        <div class="section-title">
          <h2>List of Appointments</h2>
        </div>
    
        <div class="container">
          <div class="faq-list">
            <ul>         
              <li data-aos="fade-up" data-aos-delay="100" *ngFor="let u of listrdv" >
                <i class="bx bx-user icon-help"></i> 
                <a data-toggle="collapse" href="#faq-list-1" class="collapse">{{u.username}}
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                  <br>
                  <h2>Doctor: {{u.Doctor}}</h2>
                  <h2>Date: {{u.appdate}}</h2>
                  <h2>Time: {{u.time}}</h2>
                  <div>{{u.id}}</div>
                <button class="btn btn-outline-danger btn-lg" *ngIf="cnt==1" (click)="delete(u.id)">Delete</button>
                
                <button class="btn btn-outline-primary btn-lg" *ngIf="cnt==1" (click)="update(u.id)">Update</button>
             
                </div>
               </li>
              
    
    
            </ul>
          </div>
        </div>
    </section>



