
      <section id="faq" class="faq section-bg">
        <div class="section-title">
          <h2>Appointment</h2>
        
            
              <select class="form-control form-control-lg"
                      style="width: 250px; margin-left: 630px; "
               (click)="searchrdv()"  [(ngModel)]="searchinput" >
                <option value="{{this.username}}"><h5>{{this.username}}</h5></option>
              </select>

              <button routerLink="/addrdv" class="btn btn-outline-info btn-lg" 
               style="margin: 10px; margin-left: 2px;">Click , If you didn't find your Appointment</button>


        </div>
    
        <div class="container">
          <div class="faq-list">
            <ul>         
              <li data-aos="fade-up" data-aos-delay="100" *ngFor="let u of listrdv" >
                <i class="bx bx-user icon-help"></i> 
                <a data-toggle="collapse" href="#faq-list-1" class="collapse"> <h2>{{u.username}}</h2>  
                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                  <br>
                  <h2>Doctor: {{u.Doctor}}</h2>
                  <h2>Date: {{u.appdate}}</h2>
                  <h2>Time: {{u.time}}</h2>
                  <h2>Description: {{u.text}}</h2>
                  
                
                <button class="btn btn-outline-primary btn-lg" *ngIf="cnt==1" 
                (click)="update(u.id)" style="margin: 10px;" >Update</button>
                <button class="btn btn-outline-danger btn-lg" *ngIf="cnt==1" 
                (click)="delete(u.id)">Delete </button>
                </div>
               </li>
              
    
    
            </ul>
          </div>
        </div>
    </section>



