<br>
<br>
<br>
<br>
<br>      
      
      <!-- ======= Appointment Section ======= -->
      <section id="appointment" class="appointment section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Login</h2>

          </div>
  
          <form 
           [formGroup]="LoginForm" 
           class="php-email-form">
            <div class="">
              <div class="col-md-4 form-group">
                <input type="email" name="email" 
                class="form-control" formControlName="email"
                placeholder="Your Email" >
                <div class="validate"></div>
              </div>
              <div class="col-md-4 form-group">
                <input type="password" formControlName="pwd"
                class="form-control" 
                placeholder="Your Password" 
                data-rule="email">
                <div class="validate"></div>
              </div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
            </div>
  
            <button type="submit" (click)="login()" class="appointment-btn scrollto">Login</button>
            <button routerLink='/signup' class="appointment-btn scrollto">Sign up</button>

          </form>
  
        </div>
      </section><!-- End Appointment Section -->
