<br>
<br>
<br>
<br>
<br>  

<div class="row">
    <div class="container">
        <div class="section-title">
            <h2>Sign up</h2>
          </div>

    <div class="col-md-6 offset-md-3 mt-4 lg-flex">

            <form #f="ngForm"
                (ngSubmit)="onSubmit(f)">
                <div class="form-group form-group-lg">
                    <h3 for="registerUsername">Username</h3>
                    <input type="text"
                        name="username"
                        ngModel
                        required
                        #username="ngModel"
                        class="form-control form-control-lg"
                        id="registerUsername"
                        placeholder="Enter username">
                </div>
                <div class="form-group form-group-lg">
                    <h3 for="registerEmail">Email</h3>
                    <input type="email"
                        name="email"
                        ngModel
                        required
                        #email="ngModel"
                        class="form-control form-control-lg"
                        id="registerEmail"
                        placeholder="Enter email">
                </div>
                <div class="form-group form-group-lg">
                    <h3 for="registerPassword">Password</h3>
                    <input type="password"
                        name="password"
                        ngModel
                        required
                        #password="ngModel"
                        class="form-control form-control-lg"
                        id="registerPassword"
                        placeholder="Password">
                </div>
    
        <div class="text-center"  >
            <button type="submit" [disabled]="f.invalid" 
            class="btn btn-success btn-lg" > 
            <h2>Done</h2></button>   
        </div>
            </form>
        </div>

    </div>
   
</div>
